nav {
    padding: 2rem;
    position:fixed;
}

.first-img {
width: 100vw;
}

.btn-outline-success {
color: chocolate;
border-color: chocolate;
}

.btn-outline-success:hover {
background-color: chocolate;
color: white;
border-color: chocolate;
}

.card:hover {
transform: scale(1.05);
transition: 0.5s ease-in-out;
}

footer {
background: #19110b;
font-size: 14px;
}

.first-line {
color: white;
border-bottom: 1px solid #392d23;
}

.second-line a {
color: white;
text-decoration: none;
}

.flag {
color: white;
}

.mobile-footer {
border-top: 1px solid #392d23;
color: white;
text-align: center;
font-size: 1.125rem;
font-weight: 300;
padding-top: 2rem;
padding-bottom: 2rem;
align-items: center;
display: none;
}

@media screen and (max-width: 48rem) {
.second-line {
    padding: 0 2rem;
}

.flag {
    display: none;
}

.first-line {
    text-align: center;
}

.mobile-footer {
    display: block;
}
}
.col {
padding-bottom: 1rem;
}
.flag-img {
margin: 0 0.5rem;
}